@import "tailwindcss";

.background-image {
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.background2-image {
  background-image: url("/background2.jpg");
  background-size: cover;
  background-position: 6rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #facc15; /* Tailwind yellow-400 */
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background-color: #1f2937; /* Tailwind gray-800 */
  border-radius: 4px;
}

*::-webkit-scrollbar-button {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #facc15 #1f2937; /* thumb color, track color */
}
